*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Pacifico', cursive; */
}

body {
    background-image: url(../img/New-blog-graphic.jpg);
    background-size: cover;
}

.cardcont {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 35vw;
    height: 70vh;
    border-radius: 1.5rem;
    transition: 1s ease;
}

h1 {
    font-family: 'lato';
    color: #3784DC;
    font-size: 28px;
    margin-top: 20px;
    border-bottom: 3px solid #3784DC;
    padding-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
}

ul {
    padding: 2rem;
    font-weight: bold;
}

li {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 28px;
    margin: 24px 0;
    padding: 14px 24px;
    color: #3784DC ;
    list-style: none;
    border: 2px solid #3784DC;
    width: 25vw;
    border-radius: 12px;
}

button {
    font-family: 'Lato', sans-serif;
    background-color: #3784DC;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    padding: 16px 28px;
    text-align: center;
    border: none;
    cursor: pointer;
    border: 2px solid #3784DC;
}

button:hover {
    color: #3784DC;
    background-color: #fff;
    transition: 600ms ease;
}

.guardarinfo {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 100%;
    margin: auto;
    background-color: #fff;
    width: 25%;
    display: none;
    transition: 1s ease;
}

form {
    display: flex;
    flex-direction: column;
    margin: 24px;
    transition: 700ms ease;
    color: #3784DC;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

form input {
    padding: 8px;
    margin-bottom: 12px;
}

#mostrar {
    width: 90%;
    margin-left:24px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #3784DC;
    padding-top: 12px;
}

h2 {
    color: #3784DC;
    font-size: 24px;
    font-family: 'lato', sans-serif;
}